# node-postgres configuration
PGUSER=postgres
PGHOST=localhost
PGPASSWORD=postgres
PGDATABASE=dicoding_openmusic
PGPORT=5432

# Mailtrap configuration
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=505b4c2dbf2afd
SMTP_PASSWORD=ee87f089769030

# RabbitMQ configuration
RABBITMQ_SERVER=amqp://localhost